{% extends 'accounts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title%}Booked events{% endblock %}

{% block header %}
<header>
    <div class="container-fluid">
        <div class="header-cta">
            <div class="top-header-cta">
                <div>
                    <a href="{% url 'home' %}"><h1><b>Tech</b>Convene</h1></a>
                </div>
                <div>
                    <ul>
                        <li><a href="{% url 'booked_event' %}">Booked Events</a></li>
                        <li><a href="{% url 'purchased_tickets' %}">Purchased Tickets</a></li>
                        <li class="qr-codes"><a href="{% url 'saved_event_qrcodes' %}">Saved Events Qrcodes</a></li>
                        {% if user.is_authenticated %}
                        <li>
                            {% if user.profile.profile_picture%}
                            <img src="{{ user.profile.profile_picture.url}}" class="rounded-circle" width="30" height="30" alt="profile"/>
                            {%else%}
                            <img src="#" class="rounded-circle" width="30" height="30"/>
                            {% endif %}
                        </li>
                        <a href="{% url 'profile'%}" class="text-decoration-none text-light"><p class="profile_text">{{user.first_name}} {{user.last_name}}<br>@{{user.username}}</br></p></a>
                        <li class="mr-3"><a href="{% url 'logout'%}" >Logout</a></li>
                        {% endif %}
                    </ul> 
                </div>             
            </div>    
</header>
{% endblock %}

{% block content %}
<div class="container pt-4">
    <h1>Total Number of Booked Events: <b class="text-primary">{{booked_event_count}}</b></h1>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Event_id</th>
            <th scope="col">Event_name</th>
            <th scope="col">Event_venue</th>
            <th scope="col">Event_price</th>
          </tr>
        </thead>
        <tbody>
            {% for user_ticket_event in user_tickets_events %}
          <tr>
            <th scope="row">{{user_ticket_event.event.id}}</th>
            <td>{{user_ticket_event.event.name}}</td>
            <td>{{user_ticket_event.event.venue}}</td>
            <td>{{user_ticket_event.event.price}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
{% endblock %}
