{% extends 'accounts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title%}Booked events{% endblock %}

{% block header %}
<div class="header-bg">
  <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}"><b  id='logo' >Tech</b>Convene</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto my-auto mb-1 mb-lg-0">
              {% if user.role == 'ADMIN'%}
                  <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'admin_dashboard_view' %}">Dashboard</a></li>
              {% else %}
                  <li class="nav-item"><a  class="nav-link" href="{% url 'user_dashboard_view' %}">Dashboard</a></li>
              {% endif %}
              <li class="nav-item"><a class="nav-link active"  href="{% url 'booked_event' %}">Booked Events</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'saved_event_qrcodes' %}">Saved Qrcodes</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'purchased_tickets' %}">Purchased Tickets</a></li>
              <li class="nav-item">
                  {% if user.profile.profile_picture%}
                  <img src="{{ user.profile.profile_picture.url}}" class="rounded-circle" id="prof_img" width="30" height="30" alt="profile"/>
                  {%else%}
                  <img src="#" class="rounded-circle" width="30" height="30"/>
                  {% endif %}
              </li>
              <a href="{% url 'profile' %}" class="text-decoration-none text-light"><p class="profile_text">{{user.first_name}} {{user.last_name}}<br>@{{user.username}}</br></p></a>
              <li class="nav-item"><a class="nav-link" href="{% url 'logout'%}" >Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
</div>
{% endblock %}

{% block content %}
<div class="container pt-4">
    <h1>Total Number of Booked Events: <b class="text-primary">{{booked_event}}</b></h1>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Event_id</th>
            <th scope="col">Event_name</th>
            <th scope="col">Event_venue</th>
            <th scope="col">Event_price</th>
          </tr>
        </thead>
        <tbody>
            {% for user_ticket_event in user_tickets_events %}
          <tr>
            <th scope="row">{{user_ticket_event.event.event_id}}</th>
            <td>{{user_ticket_event.event.name}}</td>
            <td>{{user_ticket_event.event.venue}}</td>
            <td>{{user_ticket_event.event.price}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
{% endblock %}
