{% extends 'accounts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title%}Payment success {% endblock %}

{% block header %}
<div class="header-bg">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home' %}"><b  id='logo' >Tech</b>Convene</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto my-auto mb-1 mb-lg-0">
                {% if user.role == 'ADMIN'%}
                    <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'admin_dashboard_view' %}">Dashboard</a></li>
                {% else %}
                    <li class="nav-item"><a  class="nav-link" href="{% url 'user_dashboard_view' %}">Dashboard</a></li>
                {% endif %}
                <li class="nav-item"><a class="nav-link"  href="{% url 'booked_event' %}">Booked Events</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'saved_event_qrcodes' %}">Saved Qrcodes</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'purchased_tickets' %}">Purchased Tickets</a></li>
                <li class="nav-item">
                    {% if user.profile.profile_picture%}
                    <img src="{{ user.profile.profile_picture.url}}" class="rounded-circle" id="prof_img" width="30" height="30" alt="profile"/>
                    {%else%}
                    <img src="#" class="rounded-circle" width="30" height="30"/>
                    {% endif %}
                </li>
                <a href="{% url 'profile' %}" class="text-decoration-none text-light"><p class="profile_text">{{user.first_name}} {{user.last_name}}<br>@{{user.username}}</br></p></a>
                <li class="nav-item"><a class="nav-link" href="{% url 'logout'%}" >Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>
</div>
{% endblock %}

{% block content%}
<div class="card w-75 mb-4 mt-4 ms-auto mx-auto bg-primary text-light">
    <div class="card-body">
      <h5 class="card-title">Thank You For Choosing TechConvene</h5>
      <p>Your Payment was successful. Check your email for the event ticket...</p>
      <a href="{% url 'user_dashboard_view' %}" class="text-light">Return to Dashboard</a>
    </div>
  </div>


{% endblock %}