{% extends 'accounts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title%}Payment success {% endblock %}

{% block header %}
{% endblock %}

{% block content%}
<div class="wrapper">
    <!-- Sidebar -->
    <div id="sidebar" class="text-light collapsed d-flex flex-column">
     <a href="#" class="logo">
        <i class="bi bi-amd"></i><span class="menu-text"><b id='logo_home_dash'>Tech</b>Convene</span>
      </a>
      <button class="mb-3 mt-3" id="toggleSidebar">☰</button>
      <nav class="nav flex-column">
        <a href="{% url 'user_dashboard_view' %}" class="nav-link text-light">
          <i class="bi bi-house"></i>
          <span class="menu-text">Dashboard</span>
        </a>
        <a href="#" class="nav-link text-light">
          <i class="bi bi-ticket"></i>
          <span class="menu-text">Tickets</span>
        </a>
        <a href="" class="nav-link text-light">
          <i class="bi bi-calendar3"></i>
          <span class="menu-text">Booked Events</span>

        <a href="#" class="nav-link text-light">
        <i class="bi bi-people-fill"></i>
          <span class="menu-text">Meet others</span>

        <a href="{% url 'chat_view' %}" class="nav-link text-light">
        <i class="bi bi-chat-dots"></i>
          <span class="menu-text">AI Chat support</span>
        </a>
        <div>
            <a href="{% url 'profile' %}" class="nav-link text-light">
             {% if user.profile.profile_picture %}
            <img src="{{ user.profile.profile_picture.url }}"  class="rounded-circle" width="30" height="30" alt="no image"/>
            {% else %}
            <img  src="{% static 'accounts/images/avatar.jpg' %}" class="rounded-circle" width="30" height="30"/>
            {% endif %}
              <span class="menu-text">Profile</span>
            </a> 
            <a href="{% url 'logout' %}" class="nav-link text-light">
            <i class="bi bi-box-arrow-left"></i>
              <span class="menu-text">Logout</span>
            </a>
        </div>
      </nav>
    </div>

    <!-- Main Content -->
      <div id="content" class="bg-light p-3">
      <div class="content_header_dash container-fluid">
        <div>
          <input name="search" type="search" placeholder="Search..." aria-label="Search">
          <button class="btn btn-outline-dark" type="submit">
            <i class="bi bi-search"></i>
          </button>
        </div>
        <div>
          <i class="bi bi-bell-fill"></i>
          <i class="bi bi-envelope"></i>
           <img  src="{% static 'accounts/images/pexels-blitzboy-1040880.jpg' %}" class="rounded-circle border border-dark" width="35" height="35"/>
        </div>
      </div>
      <h4 class="welcome-greeting container-fluid" >Payment</h4>
    <div class="pay">
      <i class="bi bi-check-circle-fill" id="payment-icon"></i>
      <h5 class="card-title text-center">Payment Successful</h5>
      <p>Thank you for your payment. Check your email for the event ticket</p>
      <a href="{% url 'purchased_tickets' %}">View ticket</a>
  </div>
{% endblock%}


{% block footer%}
{% endblock %}

