{% extends 'accounts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title%}Email Notification {% endblock %}

{% block header %}
<div class="header-bg">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home' %}"><b  id='logo' >Tech</b>Convene</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <ul class="navbar-nav ms-auto my-auto mb-1 mb-lg-0">
                {% if user.is_authenticated %}
                    {% if user.role == 'ADMIN'%}
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'admin_dashboard_view' %}">Dashboard</a></li>
                    {% else %}
                        <li class="nav-item"><a  class="nav-link" href="{% url 'user_dashboard_view' %}">Dashboard</a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link"  href="{% url 'booked_event' %}">Booked Events</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'purchased_tickets' %}">Purchased Tickets</a></li>
                    <li class="nav-item">
                        {% if user.profile.profile_picture%}
                        <img src="{{ user.profile.profile_picture.url}}" class="rounded-circle" id="prof_img" width="30" height="30" alt="profile"/>
                        {%else%}
                        <img src="#" class="rounded-circle" width="30" height="30"/>
                        {% endif %}
                    </li>
                    <a href="{% url 'profile' %}"  class="profile_text text-decoration-none text-light"><span >{{user.first_name}} {{user.last_name}}<br>@{{user.username}}</br></span></a>
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout'%}" >Logout</a></li>
                {% else %}
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#trending">Trending</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact_us">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  id='signup' href="{% url 'register' %}">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id='login'  href="{% url 'login'%}" aria-disabled="true">Login</a>
            </li>
            {% endif %}
            </ul>
          </div>
        </div>
      </nav>
</div>
{% endblock %}

{% block content%}
<div class="card w-75 mb-4 mt-4 ms-auto mx-auto bg-primary text-light">
    <div class="card-body">
      <h5 class="card-title">Thank You For Registering!</h5>
      <p>A verification link has been sent to your email. Please check your inbox and follow the instructions to complete your registration.</p>
    </div>
  </div>


{% endblock %}