{% extends 'accounts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title%}Profile {% endblock %}


{% block header %}
<header>
    <div class="container-fluid">
        <div class="header-cta">
            <div class="top-header-cta">
                <div>
                    <a href="{% url 'home' %}"><h1><b>Tech</b>Convene</h1></a>
                </div>
                <div>
                    <ul>
                        {% if user.role == 'ADMIN'%}
                        <li><a href="{% url 'admin_dashboard_view' %}">Dashboard</a></li>
                        {% else %}
                        <li><a href="{% url 'user_dashboard_view' %}">Dashboard</a></li>
                        {% endif %}
                        <li><a href="{% url 'booked_event' %}">Booked Events</a></li>
                        <li><a href="{% url 'purchased_tickets'%}">Purchased Tickets</a></li>
                        {% if user.is_authenticated %}
                        <li>
                            {% if user.profile.profile_picture%}
                            <img src="{{ user.profile.profile_picture.url}}" class="rounded-circle" width="30" height="30" alt="profile"/>
                            {%else%}
                            <img src="#" class="rounded-circle" width="30" height="30"/>
                            {% endif %}
                        </li>
                        <a class="text-decoration-none text-light"><p class="profile_text">{{user.first_name}} {{user.last_name}}<br>@{{user.username}}</br></p></a>
                        <li class="mr-3"><a href="{% url 'logout'%}" >Logout</a></li>
                        {% endif %}
                    </ul> 
                </div>             
            </div>
            
</header>
{% endblock %}

{% block content%}
<div class="container">
    <div class="edit_main">
        <h1 class="fs-4 text-primary pt-3 pb-4">Edit Profile Details</h1>
       <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            {{ user_form.first_name | as_crispy_field}}
        </div>
        <div class="mb-3">
            {{ user_form.last_name | as_crispy_field}}
        </div>
        <div class="mb-3">
            {{ user_form.username | as_crispy_field}}
        </div>
        <div class="mb-3">
            {{ form.date_of_birth|as_crispy_field }}
        </div>
        <div class="mb-3">
            {{ form.profile_picture|as_crispy_field }}
        </div>
        <button class="btn btn-secondary">Save</button>
       </form>
    </div>  
</div>
{% endblock%}