{% extends 'accounts/base.html' %}
{% load static %}
{% block title%}Profile {% endblock %}


{% block header %}
<header>
    <div class="container-fluid">
        <div class="header-cta">
            <div class="top-header-cta">
                <div>
                    <a href="{% url 'home' %}"><h1><b>Tech</b>Convene</h1></a>
                </div>
                <div>
                    <ul>
                        {% if user.role == 'ADMIN'%}
                        <li><a href="{% url 'admin_dashboard_view' %}">Dashboard</a></li>
                        {% else %}
                        <li><a href="{% url 'user_dashboard_view' %}">Dashboard</a></li>
                        {% endif %}
                        <li><a href="#">Booked Events</a></li>
                        <li><a href="#">Purchased Tickets</a></li>
                        {% if user.is_authenticated %}
                        <li>
                            {% if user.profile.profile_picture%}
                            <img src="{{ user.profile.profile_picture.url}}" class="rounded-circle" width="30" height="30" alt="profile"/>
                            {%else%}
                            <img src="#" class="rounded-circle" width="30" height="30"/>
                            {% endif %}
                        </li>
                        <a class="text-decoration-none text-light"><p class="profile_text">{{user.first_name}} {{user.last_name}}<br>@{{user.username}}</br></p></a>
                        <li class="mr-3"><a href="{% url 'logout'%}" >Logout</a></li>
                        {% endif %}
                    </ul> 
                </div>             
            </div>
            
</header>
{% endblock %}

{% block content%}
<div class="container">
    <div class="edit_main">
        <h1 class="fs-4">Profile details</h1>
        <div class="profile_img">
            {% if user.profile.profile_picture %}
            <img src="{{ user.profile.profile_picture.url }}"  class="rounded-circle" width="150" height="150" alt="no image"/>
            {% else %}
            <img  src="{% static 'accounts/images/avatar.jpg' %}" class="rounded-circle" width="150" height="150"/>
            {% endif %}
        </div>
        <div class="profile_detail">
            <p><b>Username</b>: {{user.username}}</p>
            <p><b>Email</b>: {{user.email}}</p>
            <p><b>Age</b>: {{user_profile.age}}years</p>
            <p><b>Date of Birth</b>: {{user_profile.date_of_birth}}</p>
            <p><b>Role</b>: {{user.role}}</p>
        </div> 
    </div>  
</div>
{% endblock%}