@import url(https://fonts.googleapis.com/css?family=Poppins);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    font-family: Poppins;
    
    
}

html, body {
    overflow-x: hidden;
    width: 100%;
}

/* SignIn overflow */
#sign_overflow{
overflow-y: hidden;
}

.header-bg{
    background: #04092C;
    height: auto;
    padding-bottom: 20px;
    width: 100%;

    
   
}
#logo_home{
    color: #2C9CF0;
}

#signup{
    color: white;
    background: #2C9CF0;
    padding: 2px 20px;
    border-radius: 15px;
    transition: 0.3s;
    margin-left: 1rem;
    font-size: 0.95rem;
    margin-top: 0.4rem;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    border: 0.1px solid transparent;
    overflow-x: hidden;
}
#login{
    color: white;
    background: transparent;
    padding: 2px 20px;
    border-radius: 20px;
    font-size: 0.95rem;
    transition: 0.3s;
    border : 0.1px solid whitesmoke;
    margin-left: 0.5rem;
    display: inline-block;
    margin-top: 0.4rem;
    text-align: center;
}
#login:hover{
    border-color: #2C9CF0;
   
}

/* Login Google */
.login-with-google-btn{
    background: whitesmoke;
    box-shadow:1px 2px 1px #eaeaea;
    color: #04092C;
    width: 100%;
    padding: 6px 0;
    font-weight: 400;
    font-size: 15px;
    position: relative;
    border:none;
    text-decoration: none;
   
}

.login-with-google-btn i{
   z-index: 100;
   color: red;
   position: absolute;
   left: 0;
   padding-left: 10px;
}

#signup:hover{
    background: transparent;
    border-color: white;
    border-style:solid;
    border-width: 0.1px;
    outline: none;
}

#search-cta-cta{
    width: 85vw;
    padding: 10px 10px;
    overflow-x: hidden;
}





/* Profile Image for Home Page (Base.html) */
#prof_img{
    margin-left: 55px;
    margin-top:0.2rem;
    
}

.profile_text{
    font-size: 0.8rem;
    margin: auto;
    margin-top: auto;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    margin-top: 5px;
    margin-left: 0.2rem;
    margin-right: 0.5rem;
    overflow-y: hidden;
}



/* Hero section */
.hero-cta{
    background-image:linear-gradient(to bottom, rgba(245, 246, 252, 0.2), #1b2024), 
    url('/static/accounts/images/pexels-bertellifotografia-2608516.jpg');
    background-position:center;
    background-repeat: repeat;
    width: 90%;
    margin: 20px auto;
    height: 400px;
    position: relative;
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: start; 
    box-shadow: 1px 2px 3px #eaeaea;
   
}

.hero-cta .hero-header{
    left: 5%;
    top: 50%;
    transform: translateX(-5%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    width: 80%;
    margin: 0 auto; 
    max-width: 600px;
    text-align: start;
}

.hero-cta .hero-header .responsive-heading {
    font-size: 2.7rem;
    color: white;
    font-weight: 600;
    padding-bottom: 2rem; 
}


.hero-cta .hero-header .responsive-heading b{
    color: #2C9CF0;
}


.hero-cta .hero-header .hero-btn{
    border-radius: 20px;
    padding: 7px 30px;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    background: white;
    color: black;
    font-size: 0.9rem;
    font-weight: 600;
    margin-top:1rem;
    transition: 0.5s;
    text-decoration: none;

}


.hero-cta .hero-header .hero-btn:hover{
    background: #2C9CF0;
    color: white;
} 

/* Features */
.feature-events{
    width: 90%;
    margin: 70px auto;
}

.feature-events .top-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.feature-events .top-row div h2{
    font-size: 1.85rem;
    font-weight: 600;
}
.feature-events .top-row div button{
    font-size: 0.8rem;
    border: none;
    background: transparent;
}

.feature-events .top-row div button i{
    margin-right: 0.5rem;
    color: #2C9CF0;
    font-size: 0.9rem;
}

.feature-events hr{
    margin: 0;
    background-color: grey;
}



 #inner-top-feature{
    min-height: 200px;
    position: relative;
    display: inline-block;
    box-shadow: 1px 2px 3px #9e9e9e;
}

#inner-top-feature .feature-img {
    width: 100%;
    max-width: 180px;
    height: 200px;
    /* height: 100%; */
    object-fit: cover;
  
}
#inner-top-feature .hover-image {
    position: absolute;
    top: 0;
    left: 0;
    max-width:180px;
    height: 100%;
    opacity: 0;
    object-fit: cover;
    transition: 0.5s ease-in-out;
}

 #inner-top-feature:hover .hover-image {
    opacity: 0.6;
    filter: brightness(50%);
    cursor: pointer;
}


#inner-top-feature div{
    padding: 0px 6px;
}
 #inner-top-feature div h3{
   font-size: 1rem;
   font-weight: 600;
   color: #2C9CF0;
}
#inner-top-feature div p{
   font-size: 0.8rem;
}

/* Footer */
.footer{
    background: #04092C;
    color: white;
    position: relative;
    background: #04092C;
    color: white;
    width: 100%;
    padding: 1rem 0;
    text-align: center;

}

.footer-cta {
    width: 90%;
    margin: 0 auto;
    /* padding-top: 4rem; */
}

#logo i{
    font-size: 7rem;
    color: #2C9CF0;
}

#logo h3{
    font-size: 1.5rem;
    font-weight: 600;
    overflow-y: hidden;
}
.footer-nav{
    width: 100%;
}
.footer-nav ul{
    list-style: none;
    margin-top: 15px;
}
.footer-nav ul li{
    padding-bottom: 1rem;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}

.footer-nav ul li:hover{
    color: #2C9CF0;
}

.footer-nav-2{
    width: 100%;
}

.footer-nav-2 ul{
    list-style: none;
    margin-top: 15px;
}
.footer-nav-2 ul li{
    padding-bottom: 1rem;
    font-size: 0.8rem;
    font-weight: 400;
    transition: 0.5s;
}

.footer-nav-2 ul li i{
    padding-right: 0.9rem;
    color: #2C9CF0;
}

.footer-nav-3{
    width: 100%;

}
.footer-nav-3 ul{
    list-style: none;
    margin-top: 19px;
}
.footer-nav-3 ul li{
    padding-bottom: 1rem;
    font-size: 0.8rem;
    font-weight: 400;
}
.footer .footer-bottom{
    background-color: #2C9CF0;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: auto;
    padding: auto;
}
.footer .footer-bottom p{
    color: white;
    text-align: center;
    padding-top: 0.3rem;
    margin: 0;
}




/* Body Login*/
.body-cta{
    background-color: #04092C;
    min-height: 40vh;
    color: white;
    margin: 0;
}

.body-cta hr{
    width: 100%;
    margin: 0;
    border-width:1.5px;
    border-style: solid;
    border-color: #2C9CF0;
    opacity: 0.5;
    margin-top: 1.5rem;

}

.form-cta {
    border-width: 1px;
    border-style:solid;
    border-color: #93c7ef;
    max-width: 500px;   
    box-shadow: 0.1px 0.2px #2C9CF0;
    /* border-radius: 10px; */
    padding: 0 20px;
}

.login-cta{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    z-index: -1;

}

.login-img{
    max-width: 100%;
    height: auto;
}

.asteriskField {
    display: none;
}

/* Edit Profile */
.edit_main{
    width: 400px;
    margin: 10px auto;
    background: #04092C;
    color: white;
    padding: 10px 10px;
}
.edit_main .profile_detail{
    padding-top: 15px;
   
}

#profile_heading{
    overflow-y: hidden;
}

/* Mail id */
#mail-id{
    background:#04092C;
    color: white;
    transition: 0.5s;
}
#mail-id:hover{
    opacity: 0.85;
}



/* Dashboard Side bar */
.wrapper {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }

#sidebar {
    height: 100%;
    width: 60px; /* Collapsed width */
    background-color: #04092C;
    color: white;
    transition: width 0.3s ease; /* Uniform transition */
    position: relative;
  }

#sidebar div{
    width: 100%;
    position: absolute;
    bottom: 0;
}
#sidebar.expanded {
    width: 200px; /* Expanded width */
  }
#toggleSidebar{
    background: transparent;
    color:whitesmoke;
    padding: 10px 15px;
    border: none;
    position: relative;
    right: 5px;

}
#sidebar .nav-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    padding: 0.8rem 1rem;
    width: 100%; /* Ensure it takes the full sidebar width */
    transition: background-color 0.3s ease, color 0.3s ease, width 0.3s ease; /* Sync width */
  }

.menu-text {
    opacity: 0;
    margin-left: 10px;
    transition: opacity 0.3s ease, margin-left 0.3s ease; /* Match sidebar transition */
  }

#sidebar.expanded .menu-text {
    opacity: 1;
    margin-left: 15px;
  }

#sidebar .nav-link.active {
    background-color: #495057;
    color: #ffffff;
  }
#sidebar .nav-link div.active {
    background-color: #495057;
    color: #ffffff;
  }

#sidebar .nav-link #prof_img{
    margin-left: -5px;
   
}

#content {
    flex-grow: 1;
    overflow-y: auto; /* Allows scrolling for long content */
  }

.welcome-greeting{
    margin-left: 40px;
}
.line-hor{
    border: 1px solid #1b2024;
    margin-top: 0;
    padding-top: 0;
    width: 50px;
    position: relative;
    left:30px;
    top: 0;
    bottom: 10px;
  
}
#latest-events{
    margin-left: 30px;
}

/* Payment Icon */
#payment-icon i{
    width: 30px;
    font-size: 1.5rem;
}

/* Media Queries */
@media only screen and (max-width: 576px){
    #logo i { display: none; }
    #logo h3 { font-size: 1.5rem; text-align: center;}
    .footer-nav ul li, .footer-nav-2 ul li, .footer-nav-3 ul li { font-size: 0.9rem; }
    .footer-bottom p { font-size: 0.9rem; }

    .hero-cta .hero-header .responsive-heading { font-size: 1.9rem; text-align: start; }
    
 
  }

  /* Dashboard events */
  #dashboard_event{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  @media only screen and (max-width: 992px) {
    #signup{
        margin-left: 0;
        border-radius:0px;
        padding:2px 11px;
        margin: 10px 0;
    }
    #logo i { display:block; margin-left: 20px; margin-top: 0; font-size: 9rem;}
    #logo h3 { font-size: 1.7rem; text-align: center; margin-left: 19px; margin-top: 0;}
    .footer-nav ul li, .footer-nav-2 ul li, .footer-nav-3 ul li { font-size: 1.1rem; }
    .footer-bottom p { font-size: 1.1rem; }
    #login{
        margin-left: 0;
        border-radius:0px;
    }
    .profile_text{
        display: inline-flex;
        flex-direction: row;
    }
    #prof_img{
        margin: 0;
    }
    
}
